:root {
    --header-color: linear-gradient(90deg, rgba(28, 54, 67, .85) 0, rgba(39, 59, 71, .85) 25%, rgba(30, 83, 114, .9));
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.Header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    background: var(--header-color);
    display: grid;
    grid-template-columns: auto 1fr;
    color: #ffffff;
}
.logoHeader{
    display: grid;
    align-items: center;
    grid-gap: 0px;
}
.logoHeader-container, .logoHeader-container img{
    height: 60px;
}
.navHeader{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    justify-self: end;
    margin-right: 40px;
}
.Menu{
    list-style: none;
    display: flex;
    font-size: 17px;
}
.Menu-list{
    padding: 0px 12px;
}
.image-cover{
    background-image: url('../assets/grama-fut.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 450px;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    color: #fff;
    background-color: #1c3643;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}